rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function incoming() { return request.resource.data; }

    function isValidTournamentData(data) {
      return data.keys().hasAll(['teams', 'preSeason', 'novaCup', 'superNovaCup']) &&
             data.teams is list &&
             data.preSeason is map &&
             data.novaCup is map &&
             data.superNovaCup is map;
    }

    match /tournament/{docId} {
      allow read: if docId == 'data';
      allow write: if docId == 'data' && isValidTournamentData(incoming());
    }
  }
}
