rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    function isValidTournament(data) {
      return data.keys().hasAll(['teams', 'preSeason', 'novaCup', 'superNovaCup'])
        && data.teams is list
        && data.preSeason is map
        && data.novaCup is map
        && data.superNovaCup is map;
    }

    match /tournaments/{tournamentId} {
      allow get: if true;
      allow list: if true;
      
      allow create: if isValidTournament(request.resource.data);
      allow update: if isValidTournament(request.resource.data);
    }
  }
}
